@use "./../base/variables.scss" as *;

.navbar {
  display: flex;
  width: calc(100% - 2 * $pd-x);

  background-color: $cl-primary;
  padding: $pd-y $pd-x;
  height: 2rem;

  .logo {
    width: $logo-size;
    height: $logo-size;
    margin-right: calc(50% - $pd-x - $logo-size);
  }
}
